<div class="row">
  <div class="alpha ten columns">
    <%= f.field_container :name do %>
      <%= f.label :name %> <span class="required">*</span><br />
      <%= f.text_field :name, :class => 'fullwidth title' %>
      <%= f.error_message_on :name %>
    <% end %>

    <%= f.field_container :email do %>
      <%= f.label :email %> <span class="required">*</span><br />
      <%= f.text_field :email, :class => 'fullwidth title' %>
      <%= f.error_message_on :email %>
    <% end %>

    <%= f.field_container :title do %>
      <%= f.label :title %> <span class="required">*</span><br />
      <%= f.text_field :title, :class => 'fullwidth title' %>
      <%= f.error_message_on :title %>
    <% end %>

    <%= f.field_container :body do %>
      <%= f.label :body %><span class="required">*</span><br />
      <%= f.text_area :body, {:class => 'fullwidth'} %>
      <%= f.error_message_on :body %>
    <% end %>
  </div>
</div>