<% content_for :page_title do %>
   <%= Spree.t("testimonials.testimonials") %> <i class="icon-arrow-right"></i> <%= Spree.t("testimonials.editing_testimonial") %> "<%= @testimonial.name %>"
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t('testimonials.back_to_testimonials_list'), spree.admin_testimonials_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render "spree/shared/error_messages", :target => @testimonial %>

<%= form_for [:admin, @testimonial] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>