<% content_for :page_title do %>
   <%= Spree.t("spree_testimonials.testimonials") %> <i class="icon-arrow-right"></i> <%= Spree.t("spree_testimonials.new_testimonial") %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_testimonials_list), spree.admin_testimonials_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render "spree/shared/error_messages", :target => @testimonial %>

<%= form_for [:admin, @testimonial] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>